@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/** FONTS:
font-family: 'Chivo Mono', monospace;
font-family: 'Bebas Neue', cursive;
**/

body {
    font-family: 'Chivo Mono', monospace;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/*****   ENCABEZADO   *****/

.df-header {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    
}

/*** logo ***/

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;

}

.header-picture {
    width: 100px;
    height: 100px;
}

.header-texts {
    margin-left: 50px;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}

.header-texts a {
    color: rgb(243, 237, 237);
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

/*** fin logo ***/

/***  barra de nav  ***/

.barra-nav-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-right: 50px;
}

.barra-nav-texts li {
    margin: 15px;
}

.barra-nav-texts li a {
    position: relative;
    text-decoration: none;
    color: rgb(243, 237, 237);
}

.barra-nav-texts li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgba(226, 159, 4, 0.407);
    margin: auto;
    display: block;
}

.barra-nav-texts li a:hover::after {
    width: 100%;
    transition: width 0.3s linear;

}


/***  fin bara de nav  ***/

/****     TERMINA ENCABEZADO  ****/

/****    MAIN  ****/

/*** index ***/

/** banner main **/
.banner-container {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/banner-pp.png);
    background-size: cover;
    background-position: center;
}

.banner-texts {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.banner-texts h1 a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.banner-title {
    margin-bottom: 70px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.811);
    padding: 15px;
}

.banner-texts-bottom a {
    list-style: none;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.813);
    color: white;
    padding: 10px;
}

.banner-cta-nosotros {
    margin-right: 50px;
}

.banner-cta-servicios {
    margin-left: 50px;
}

/** termina banner main **/

/** about main **/

.about-container {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-texts {
    width: 90%;
    height: 60%;
}

.about-title {
    font-size: 30px;
}

.about-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.about-paragraph p {
    margin: 20px;

}

/** about main **/

/** reserva **/
.reserva-container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.401);
    margin-bottom: 300px;
}

.reserva-texts {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.reserva-texts a {
    margin-top: 50px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/** reserva **/
/**** destacados *****/
.destacados-container {
    margin-top: 200px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 200px;
}

.destacados-cortes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
}

.destacados-cortes a {
    color: rgb(0, 0, 0);
}

.destacados-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
        "destacados-crest" "destacados-low" "destacados-high"
        "destacados-crest" "destacados-low" "destacados-high"
        "destacados-crest" "destacados-low" "destacados-high";
    gap: 30px;
}

.destacados-crest {
    grid-area: "destacados-crest";
}

.destacados-low {
    grid-area: "destacados-low";
}

.destacados-high {
    grid-area: "destacados-high";
}

.destacados-cards img {
    width: 100%;
    height: 500px;
}

.destacados-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.611);
}


/**** destacados  *****/

/*** index ***/

/****    MAIN  ****/

/****     FOOTER    ****/

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.401);
    margin-bottom: 40px;
}

/** footer derechos **/

.footer-container p {
    margin-left: 200px;
}

/**  fin footer derechos **/

/** footer barranav **/
.footer-texts {
    margin-right: 200px;
    
}

.footer-texts li {
    padding: 8px;
    
}

.footer-texts li a {
    color: black;
    text-decoration: underline;
    font-size: 12px;
}

/** fin footer barranav **/

/****     TERMINA FOOTER    ****/

/**** MAIN NOSOTROS.COM   *****/

/**Banner de marmol**/

.banner-marmol-texts {
    background-image: url(../images/pared-marmol.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-left: 16%;
    font-size: 25px;
}
/** fin Banner de marmol**/

/** info barber*/

.casco-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 150px;
    margin-right: 50px;
    
}
.casco-container p{
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    padding-left: 20px;
}

.moto-container{
    display: flex;
    text-align: center;
    margin-left: 50px;
    margin-top: 150px;
    margin-right: 50px;
}
.moto-container p{
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    padding-left: 20px;
}

.cortando-container{
    display: flex;
    text-align: center;
    margin-left: 50px;
    margin-top: 150px;
    margin-right: 50px;
    margin-bottom: 150px;
}

.cortando-container p{
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    padding-left: 20px;
    
}

/** fin info barber*/


/**** MAIN NOSOTROS.COM   *****/

/**** MAIN SERVICIOS *****/

.cortes-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 150px;
}
.cortes-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.cortes-texts{
    margin-top: 100px;
    margin-left: 20px;
    
}

.unisex-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 150px;
}
.unisex-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.unisex-texts{
    margin-top: 100px;
    margin-left: 20px;
}
.color-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 150px;
}
.color-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.color-texts{
    margin-top: 100px;
    margin-left: 20px;
}

/*****  CSS TRABAJO  ******/

/*****  CARD MARMOL  ******/
.card{
    justify-content: center;
    width: 100%;
}
.card-img{
    height: 500px;
    
}
.card-img-overlay{
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
}
.card-title{
    font-size:100px ;
}
/*****  CARD MARMOL  ******/

/*****  CARD preIMAGENES  ******/

.mt-auto{
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}
/*****  CARD preIMAGENES  ******/

/*****  CARD IMAGENES  ******/
.container{
    margin-bottom: 150px;
}
.col-lg-6{
    padding: 50px;
    margin: 0;
}
.img-corte{
    width: 100%;
    height: 300px;
}
.img-corte:hover{
    border: 5px solid rgb(255, 255, 255);
}
/*****  CARD IMAGENES  ******/

/*****  CSS TRABAJO  ******/

/*****  CSS CONTACTO  ******/

.reserva-contacto{
    text-align: center;
    margin-top: 200px;
}
.horarios-container{
    margin-top: 50px;
    text-align: center;
} 
/*
form{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
}*/
form{
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 25%;
    margin-right: 25%;
}

/*****  CSS CONTACTO  ******/

/*****  CSS MEDIAQUERIES  ******/


@media (max-width:530px) {
    .card-title{
        font-size: 50px;
    }
}

@media (max-width:500px){
    .footer-container p{
        margin-left: 25%;
    }
    .legend{
        font-size: 18px;
    }
}
@media (max-width:700px){
    .about-paragraph{
        font-size: 12px;
    }
}
@media (max-width:450px){
    .destacados-cards {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 500px;
        grid-template-areas:
            "destacados-crest" 
            "destacados-low" 
            "destacados-high";    
    }
    .destacados-low{
        margin-top: 50px;
    }
    .destacados-cta{
        font-size: 10px;
    }
    .about-paragraph{
        display: block;
    }
    .about-paragraph-2{
        padding-top: 20px;
    }
    .reserva-container{
        margin-top: 150px;
    }
    .banner-title{
        font-size: 20px;
    }
}
